.App {
  text-align: center;
}

.selected {
  background-color: #f1f1f1 !important;
  color: #122f50 !important
}

.nav-header {
  background-color: #122f50;
  color: white;
  height: 10vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.link {
  color: white;
  margin: 5px 5px 0 5px;
  font-size: 2rem;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px 3px 0 0;
}

.link:visited {
  color: white;
}
